@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin 'tailwind-scrollbar';

@custom-variant dark (&:where(.dark, .dark *));

@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

:root {
  --bg-color: #ffffff;
  --text-color: #1a202c;
  --hover-color: #f7fafc;
  --tag-bg-color: #e2e8f0;
  --tag-text-color: #1a202c;
}

html,
body {
  scroll-behavior: smooth;
  backface-visibility: hidden;
  will-change: scroll-position;
}
