.ql-editor {
  font-size: 1rem;
  line-height: 1.75;
  padding: 1rem;
}

.ql-editor img {
  margin: 1rem 0;
  max-width: 100%;
  height: auto;
}

html.dark .ql-toolbar {
  background-color: #1f2937 !important; /* gray-800 */
  border-color: #4b5563 !important; /* gray-600 */
}

html.dark .ql-picker-options {
  background-color: #374151 !important; /* gray-700 */
  color: #f9fafb !important;
}

html.dark .ql-picker-item {
  color: #f9fafb !important;
}
